<h1>Tasks</h1>
<section class="form">
  <form action="" method="post" accept-charset="utf-8">
    <fieldset>
      <legend>Add a Task</legend>
      <p>Fill in the fields below to add a new task to your list.</p>
      <p><label for="task">Task</label>
      <input type="text" name="task" id="task" required></p>

      <p><label for="desc">Description</label>
      <input type="text" placeholder="optional" name="desc" id="desc"></p>

      <p><label for="comp_date">Completed Date</label>
      <input type="date" name="comp_date" id="comp_date"></p>

      <p><input type="submit" value="Submit"></p>
    </fieldset>
  </form>

</section>

<p><a href="/">return to task list</a></p>
