<h1>Tasks</h1>
<form action="" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Add a New Task</legend>
    <label for="task">Task</label>
    <input type="text" name="task" id="task">

    <label for="desc">Description</label>
    <input type="text" name="desc" id="desc">

    <label for="comp_date">Completed Date</label>
    <input type="text" name="comp_date" id="comp_date">

    <input type="submit" value="Submit">    
  </fieldset>
</form>

<p><a href="/">return to task list</a></p>

<pre>
  <%= params %>
</pre>