<h1>Tasks</h1>
  <p>Fill in the fields below to add a new task to your list.</p>

<section class="form">
  <form action="" method="post" accept-charset="utf-8">
    <fieldset>
      <legend>Add a New Task</legend>
      <label for="task">Task</label>
      <input type="text" name="task" id="task">

      <label for="desc">Description</label>
      <input type="text" placeholder="optional" name="desc" id="desc">

      <label for="comp_date">Completed Date</label>
      <input type="text" placeholder="optional" name="comp_date" id="comp_date">

      <input type="submit" value="Submit">    
    </fieldset>
  </form>
</section>

<p><a href="/">return to task list</a></p>

<pre>
  <%= params %>
</pre>