<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="primary_content">
     <%= yield %>
    </div>
  </body>
</html>
