/* Base Style */
html {
  width: 900px;
  margin: 0 auto;
  background: #fff url(../images/linedpaper.png) repeat fixed center;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

/* Links */
a {
  color: #DC0095;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #58BDE8;
}

/* Home Page */
.home {
  text-align: center;
}

/* Forms */
.form {
  margin: 30px;
}

.task_list {
  text-align: left;
}

.task_list label {
  display: block;
}

input[type=checkbox] + label {
  background-color: blue;
}

input[type=checkbox]:checked {
  background-color: blue;  
}