/* Base Style */
html {
  width: 600px;
  margin: 0 auto;
  background: #fff url(../images/linedpaper.png) repeat fixed center;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

/* Links */
a {
  color: #DC0095;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #58BDE8;
}

/* Home Page */
.home {
  text-align: center;
}

.list_header span {
  text-align: left;
  font-weight: bold;
}

.list_header {
  margin-bottom: 10px;
}

/* Forms */
.form {
  margin: 30px;
}

.task_list {
  text-align: left;
}

.task_list label {
  display: block;
}

label span, .list_header span {
  margin-left: 10px;
  display: inline-block;
  width: 175px;
}

.task-3 {
  font-style: italic;
}

input[type="submit"] {
  margin-top: 10px;
}

.task_to_update {
  font-weight: bold;
}